body {
    background: #c9b7c4;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn{
    width: 130px;
    height: 40px;
    color: rgb(240, 250, 246);            
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    background: transparent;
    display: block;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    
    margin: 0 auto 25px; /* Center and add margin to stack vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    
}

/* Add your custom styles for btn-1, btn-2, and btn-3 */

.btn-1{
    height: 80px;
    width: 20%;
    background-color: rgb(148, 188, 145);
    border: rgb(235, 241, 235);
    border-radius: 50px;
}
.btn-1:hover {
    background: rgb(246, 26, 6);

    }

.btn-2{
    height: 80px;
    width: 20%;
    background-color: rgb(155, 21, 135);
    border: rgb(235, 241, 235);
    border-radius: 50px;
}
.btn-2:hover {
    background: rgb(14, 170, 201);
    border: rgb(139, 216, 175);
    border-radius: 50px;
    }

.btn-3{
    height: 80px;
    width: 20%;
    background-color: rgb(12, 198, 244);
    border: rgb(235, 241, 235);
    border-radius: 50px;
    }
.btn-3:hover {
    background: rgb(98, 14, 201);      
    }